.container {
  margin-top: 30px;
}

/* only display red border on elements that are :invalid and have been touched */
/* input.ng-invalid.ng-touched {
  border:1px solid red;
} */

select.ng-invalid.ng-touched {
  border:1px solid red;
}
